body {
  background-image: url("A\ train.jpg");
  background-size: cover;
  text-align: center;
}

h1 {
  color: black;
  font-weight: bold;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#INCREMENT-btn {
  background: darkred;
}

#save-btn {
  background-color: rgb(139, 130, 0);
}
